/*
blues light to dark
#97dffc
#858ae3
#613dc1
#4e148c
#2c0735
*/


  
.options {
	background-color: #fff;
	border-radius: 3px;
	bottom: 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.10);
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding: 5px;
	position: absolute;
	left: 10px;
	z-index: 1;
}
.popup {
	background-color: #fff;
	width: 180px;
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.20);
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding: 5px;
	position: absolute;
	z-index: 1;
	display:none;

}
.alignright{ float: right}

.alignleft{ float: up}

.popup h4 {
	margin: 0 0 5px;
}

  body { margin: 0; padding: 0; }
  #map { position: absolute; top: 0; bottom: 0; height: 100%; width: 100%; }
  
body{
	background-color: #fcf7f8; 
	color:#4e8098
}

.question{
	color:  #4e8098;
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    max-height: 50px; 
	background-color: #4e8098; 
	font-size: 15px;
	color: #4e8098;
}

.dropdown-menu {
	float: right;
	overflow: hidden;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
  }

.navigation .navbar-brand{
	color: #4e8098; 
    background-color:#fcf7f8;
    margin-left: 25px; 
	padding: inherit; 
    font-family: "Times New Roman", Times, serif;	
	font-weight: bold;
	border-radius: 30px; 
}


.nav-link:hover{
	background-color:#fcf7f8;
	border-radius: 30px;
}


/* Media Queries */
@media (max-width: 750px){

.navbar{
    max-height: none; 
    padding: inherit;
}
.navbar div{
    margin: inherit; 
}
.navbar-brand{
    padding: 5px; 
}

button{
    margin-left: auto; 
}

button:focus {
    outline: 2;
}
}

.card-header {
	font-size: 30px;
	margin-bottom: 20px;
	padding: 10px 20px 5px;
	color: #fcf7f8;
	background-color: #a31621;
	font-weight: bold;
}

.description-content {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px 20px 5px;
	color: #4e8098;
	background-color: #fcf7f8;
}

.imageNav-content {
	margin-top: 50px;
	margin-bottom: 25px;
	padding: 10px 25px 25px;
	color: #4e8098;
	background-color: #fcf7f8;
}
.description-header, .imageNav-header {
	padding-top: 10px; 
	color: #a31621;
	font-size: 26px;
	font-weight: bold;
	font-family: Georgia, Times, "Times New Roman", serif;
}

.h5 {
	padding-top: 10px; 
	padding-left: 5px;
	color: #4e8098;
	font-size: 7px;	
}

img{
	width: 100%;
	height: 100%;
}

.description-image {
	float: left;
	width: 60%;
	height: 60%;
}

p{
	color:  #4e8098;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}


.active, .imageNav-photo:hover{
    border-color:#4e8098;
}

.footer{
	background-color: #4e8098; 
    border-top-style: solid; 
    border-top-width: 5px; 
    border-top-color: #a31621;
    color: #fcf7f8; 
    min-height: 40px; 
    font-family: Arial, sans-serif;
    font-size: 15px; 
    text-align: center; 
    position: fixed;
    padding-top: 10px; 
	width: 100%;
	bottom: 0;
}

.card-text{
	font-size: 17px;
}

.card-list{
	color: #4e8098;
}

.a{
	color: #fcf7f8;
}
.a:hover{
	background-color:#fcf7f8;
	border-radius: 30px;
	color:#457b9d;
}

.ul {
	color: #4e8098;
}

.card {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px 100px 0px;
	color: #4e8098;
	background-color: #fcf7f8;
}

.btn {background-color:  #4e8098;

}

/* #toTop {
    padding: 5px 3px;
    background: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 5px;
    display: none;
} */
